NEXT_PUBLIC_OPNET_NETWORK=opnet-testnet
OPNET_NETWORK=opnet-testnet
OPNET_RPC_URL=
OPNET_AGENT_NFT_ADDRESS=
OPNET_AGENT_REGISTRY_ADDRESS=
OPNET_USAGE_PAYMENT_ADDRESS=
OPNET_MARKETPLACE_ADDRESS=
OPNET_LIVE_READS=0
AGENT_ENCRYPTION_SECRET=
AI_BACKEND_MODE=local
AI_HTTP_PROVIDER=openai
AI_HTTP_ENDPOINT=
AI_HTTP_API_KEY=
AI_HTTP_MODEL=
AI_HTTP_TIMEOUT_MS=30000
AI_MAX_INPUT_CHARS=2000
AI_RATE_LIMIT_COUNT=5
AI_RATE_LIMIT_WINDOW_MS=300000
